body {
  margin: 0 20%;
  @media only screen and(max-width: 777px){
    margin: 0 20px;
  }
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  color: #444;

}
a {
  color: #555;
  text-decoration: none;

}
a:visited {
  color: #555;
  
}
.footer {
  display: block;
  margin: 10px auto;
  // position: relative;
  // bottom: 20px;
  font-size: 1.2em;
  // width: 60%;
}
.header a {
  padding-right: 15px;
}
.align-center{
  text-align: center;
}
.cookie-policy {
  border: 1px solid #555;
  background-color: #555;
  color: #fff;
  border-radius: 3px;
  padding: 10px;
  position: fixed;
  width: 60%;
  bottom: 3px;
}