body {
  margin: 0 20%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  color: #444;

}
a {
  color: #555;
  text-decoration: none;

}
a:visited {
  color: #555;
  
}
.footer {
  display: block;
  margin: 0 auto;
  // position: relative;
  // bottom: 20px;
  font-size: 1.2em;
  // width: 60%;
}
.header a {
  padding-right: 15px;
}