.Weather-today-outer {
    padding: 5px;
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    // border: 1px solid #122bd8;
    border-radius: 5px;
    box-shadow: #122bd8 4px 4px 4px;
    text-align: center;
    div {
        padding: 0 10px;
        background-color: linear-gradient(#b44, #b3f);
    }
    
    @media only screen and(max-width: 550px){
        div {
            padding: 2px;
        }
    }
}



.Weather-today-pie-outer {
    display: grid;
    grid-template-columns: 100%;

    margin: 0px auto;
    // height: 100px;
    // width: 100px;
    // background-color: #000;
    // display: flex;
    // align-items: center;
    div{
        display: flex;
        justify-content: center;
    }
}

#Weather-today-pie-value {
    position: relative;
    // border: 1px solid #000;
    // background-color: #fff;
    border-radius: 50%;
    padding: 0px;
    margin: 0;
    top: 89px;
    left: 175px;
    z-index: 100;
    color: #000;
    height: min-content;
    text-align: center;
    // flex-basis: auto;
}
.Weather-today-other {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    text-align: center;
    p {
        margin: auto;
        padding: 0 10px;
        
    }
}
.Weather-today-circadian {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    p{
        padding: 0 10px;
        margin: 20px 0;
        
    }
}

#reactgooglegraph-2 > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > svg:nth-child(1) > g:nth-child(3) > text:nth-child(1) {
    font-size: 1.2em;
}
#reactgooglegraph-1 > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > svg:nth-child(1) > g:nth-child(3) > text:nth-child(1) {
    font-size: 1.2em;
}
.Weather-container > div:nth-child(1) > div:nth-child(2) > div:nth-child(8) > svg:nth-child(1) > g:nth-child(1) > path:nth-child(1){
    background-color: linearGradient(#000, rgb(38, 166, 240));
    color: linear-gradient(#b44, #b3f);
}
// div.Weather-today-pie-outer:nth-child(1) > div:nth-child(1) > div:nth-child(1) > svg:nth-child(1){
//     transform: rotate(-90deg);
// }
// .Weather-container > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > svg:nth-child(1){
//     transform: rotate(-90deg);
// }
// .Weather-container > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > svg:nth-child(1) > g:nth-child(2) > text:nth-child(2){
//     transform: rotate(90deg);
// }