.Weather-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    p{
        padding: 5px;
        border: 1px solid #122bd8;
        border-radius: 20px;
        margin: 5px;
    }
} 
.Weather-content-container {
    overflow: scroll;
    
}
// .Alert-title{
//     background-color: #555;
//     color: #f55;
// }
// .Alert-desc {
    
// }

.Alert-button{
    font-size: 1.2em;
    background-color: rgb(151, 2, 2);
    color: #fff;
    padding: 10px;
    margin: 5px auto;
    display: block;
    width: 70px;
    cursor: pointer;
    text-align: center;
}

.Weather-hourly-data {
    display: grid;
    grid-template-columns: repeat(50, 23%);
    overflow: scroll;
    font-size: 0.9em;
    @media only screen and(max-width: 765px){
        grid-template-columns: repeat(50, 20%);
    }
    @media only screen and(max-width: 550px){
        grid-template-columns: repeat(50, 25%);
    }
    @media only screen and(max-width: 340px){
        grid-template-columns: repeat(50, 40%);
    }
    p {
        margin: 0;
        padding: 5px;
        border: 1px solid #999;
    }
    .Weather-hourly-table-head {
        position: absolute;
        background-color: #fff;
        p {
            border-right: none;
        }
    }
}